[submodule "research-design"]
	path = research-design
	url = https://github.com/jobpeters/research-design.git
    branch = master

[submodule "RTOS"]
	path = RTOS
	url = https://github.com/jobpeters/RTOS.git
    branch = master

[submodule "motion-and-vision"]
	path = motion-and-vision
	url = https://github.com/jobpeters/motion-and-vision.git

[submodule "intelligent-systems"]
	path = intelligent-systems
	url = https://github.com/jobpeters/intelligent-systems.git
    branch = master

[submodule "human-machine-interface"]
	path = human-machine-interface
	url = https://github.com/jobpeters/human-machine-interface.git
    branch = master
  
  
  
  
